@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, body{
    margin: 10;
    padding: 10px;
    background-color:beige;
    font-family:Roboto;
    letter-spacing: 2px;
    text-align:center;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: solid grey;
    border-radius:10px;
    margin:auto;    

}

.grid div{
    width: 15px;
    height: 15px;
}

.pac-dot{
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color:steelblue;
}

.power-pellet{
    background-color: green;
    border-radius:7.5px;

}

.pacman {
    background-color:orange;
    border-radius: 7.5px;
    border:none;
}

.blinky{
    background-color:red;
    border:none;
}

.pinky{
    background-color:pink;
    border:none;
}

.inky{
    background-color:rgb(0, 110, 255);
    border:none;
}

.clyde{
    background-color:orange;
    border:none;
}

.scared-ghost{
    background-color:aquamarine;
    border: none;
}